@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #334155;
  background: #f8fafc;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
}

.prose p {
  margin: 0 0 1rem;
}
